<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--to include filepond-->
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <!--to include image preview so that image comes preivew comes when selected in cover select box-->
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <!--to include file-encode-->
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <!--image resize is used to resize the image if a large image is selected from the computer-->
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <!--at last we will include our own script tag which will allow us to actually set up the file pond library so we are going to
create that inside of a folder called javasscripts -->
  <script defer src="/javascripts/fileUpload.js"></script>
  <title>Mybrary</title>
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <!--in0.ejs contents are imported in the body-->
  <%- include('../partials/errorMessage.ejs') %>
  <%- body %>
</body>
</html>
