<h2>Recently Added</h2>
<div>
  <!--now we have to implement for each function on books object so we need to pass books as parameter form index.js(in0.js) of routes-->
  <% books.forEach(book => { %>
    <img height="150" width="100" src="<%= book.coverImagePath %>">
  <% }) %>
</div>
